<h1>Login</h1>

<form action="{{HTTP_PATH}}" method="{{HTTP_METHOD}}">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  
  <table>
    <tr>
      <td>Email:</td> 
      <td><input type="text" name="email"></td>
    </tr>
      <td>Password:</td> 
      <td><input type="password" name="password"></td>
    <tr>
      <td colspan="2" align="right">
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>

<hr>
<footer style="font-size: x-small;">
  Dieses Layout befindet sich im <code>./views/</code>-Verzeichnis.
</footer>

</form>
